/**************************
 * My custom CSS - Connor *
/**************************/

body { margin: 0; }

#cover {
    position: absolute; width: 100%; height: 100%;
    background-size: cover;
}

.page-content {
    position: absolute;
    width: 100%; 
    top: 100%; 
    height: 100px;
}

.icon-white {
    color: white;
}